# Install these requirements if you wish to contribute to this project.

# ===========================================================================
# Packages essential to this app. Needed by anyone who wants to use this app.
# ===========================================================================
Django==1.6.1
Pillow==2.3.0
South==0.8.4
django-libs==1.42.1
django-generic-positions==0.1.6
Sphinx
factory_boy>2.0.0
easy_thumbnails==1.4
simplejson==3.3.0


# ==============================================================
# Packages needed for running the tests. Needed by contributors.
# ==============================================================
nose
django-nose
coverage
django-coverage
flake8==2.1.0
ipdb==0.7
