{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

{% if dummy_gallery %}
    {% include "user_media/partials/image_upload.html" with c_type=gallery_ctype object=dummy_gallery %}
    <script src="{% static "user_media/js/libs/jquery-1.9.1.js" %}"></script>
    <script src="{% static "user_media/js/libs/jquery-ui-1.10.3.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% include "user_media/partials/image_upload_scripts.html" %}
{% else %}
    Add a gallery to the database first.
{% endif %}

</body>
</html>